* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  overflow: hidden;
  text-align: center;
}

#myCanvas {
  display: block;
  margin: 0 auto;
  background-color: lightgray;
  border: 1px solid #000;
}
